{{> post-info post }}

<form class="comment-form m-2 d-flex flex-wrap justify-content-start">
  <div class="col-12">
    <textarea class="col-6 border-dark" style="height: 150px" name="comment-body"></textarea>
  </div>

  <div>
    <button class="text-light bg-dark border-light rounded ml-3" type="submit">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}