    <div class="container d-flex justify-content-center flex-wrap login p-0" style="height: 250px">
        <h4 class="col-12 text-light post-title">Create New Post</h4>
        <form class="new-post-form col-10">
        <div>
            <label class="col-10 pl-0"  for="post-title">Title</label>
            <input name="post-title" class="col-10"  type="text" id="post-title" />
        </div>
        <div>
            <label class="col-10 pl-0 pt-1" for="post-content">Content</label>
            <textarea name="content-body" class="col-10 post-content"></textarea>
        </div>
        <div>
            <button class="create col-10 mt-1 bg-secondary text-light" type="submit">Create</button>
        </div>
        </form>

    </div>

    <div class="d-flex justify-content-center mt-2">
        <button class="new-post text-light rounded h3 p-1" type="submit">+ New Post</button>
    </div>

    {{#if posts.length}}
    <section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
    </section>
    {{/if}}

<script src="/javascript/add-post.js"></script>