<div
  class="container d-flex justify-content-center flex-wrap login p-0"
  style="height: 300px"
>
  <h4 class="col-12 text-light post-title">Edit Post</h4>
  <form class="edit-post-form col-10">
    <div>
      <label class="col-10 pl-0" for="post-title">Title</label>
      <input class="col-10" type="text" name="post-title" value="{{post.title}}">
    </div>
    <div>
      <label class="col-10 pl-0 pt-1" for="post-content">Content</label>
      <textarea
        name="content-body"
        class="col-10 post-content"
      >{{post.post_content}}</textarea>
    </div>
    <div>
      <button
        type="submit"
        class="create col-10 mt-1 bg-secondary text-light"
        type="submit"
      >Update Post</button>
    </div>
    <div>
      <button
        type="button"
        class="delete-post-btn create col-10 mt-1 bg-secondary text-light"
        type="submit"
      >Delete</button>
    </div>
  </form>

</div>

<form class="comment-form m-2 d-flex flex-wrap justify-content-start">
  <div class="col-12">
    <textarea class="col-6 border-dark" style="height: 150px" name="comment-body"></textarea>
  </div>

  <div>
    <button class="text-light bg-dark border-light rounded ml-3" type="submit">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>