    <div class="container d-flex justify-content-center flex-wrap login p-0" style="height: 250px">
        <h4 class="col-12 text-light login-title">Sign Up</h4>
        <form class="signup-form col-10">
        <div>
            <label class="col-10 pl-0"  for="username-signup">Username:</label>
            <input class="col-10"  type="text" id="username-signup" />
        </div>
        <div>
            <label class="col-10 pl-0 pt-1" for="password-signup">Password:</label>
            <input class="col-10" type="password" id="password-signup" />
        </div>
        <div>
            <button class="col-10 mt-1 bg-secondary text-light" type="submit">Sign Up!</button>
        </div>
        <div>
            <a class="text-decoration-none text-success" href="/login">Login instead</a>
        </div>
        </form>

    </div>


    <script src="/javascript/signup.js"></script>