header {
    background-color:darkolivegreen
}

.login {
    border: thick double #11371f;
}

.login-title {
    background-color: #11371f;
}

.post-title {     
    background-color: #11371f;
}

.new-post {
    background-color: darkslateblue;
}

.post-list {
    list-style: none;
}

.prev-post {
    background-color: #501376;
    border-radius: 0.5rem;
}

.title {
    background-color: #041c0d;
}