header {
    background-color:darkolivegreen
}

.login {
    border: thick double #11371f;
}

.login-title {
    background-color: #11371f;
}

.post-title {     
    background-color: #11371f;
}

.new-post {
    background-color: darkslateblue;
}